body {
    font-family: Arial, Helvetica, sans-serif;          
        .header{
            padding: 5% 5%;  
            background-color: tomato;
            h1 {
                color: white;
                text-align: center;
            }  
            .add-items-form{
                width: 80%;
                margin: auto; 
                overflow: auto; 
                input, button {
                    border: none;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin: 0;
                    float: left;
                }
                input {    
                    padding: 15px 5px;
                    font-size: 16px;
                    width: 70%;
                    text-align: left;
                }
                button {
                    background-color: #e7e7e7; 
                    color: black;
                    padding: 15px 32px;
                    font-size: 16px;
                    cursor: pointer;
                    width: 28%;
                }
                button:hover{
                    background-color: rgb(80, 77, 76);
                    color: white;
                }
            }
        }
    

/* listas */


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        position: relative;
        
        li {
            padding: 15px 15px 15px 35px;
            position: relative;
            
        } 
        li:nth-child(even) {
            background-color: rgb(197, 194, 194);
        }

        li:hover{
            background-color: rgb(248, 171, 157);
        }
        /*done es para cuando le das click y ya la marca como hecha*/
        li.done {
            background-color: gray;
            color: white;
            text-decoration: line-through;
        } 
        /*para poner el check cuando dan click que ya esta hecho*/
        .done::before {
            content: ' ';
            position: absolute;
            border-color: #fff;
            border-style: solid;
            border-width: 0 2px 2px 0;
            top: 10px;
            left: 16px;
            transform: rotate(45deg);
            height: 15px;
            width: 7px;
        } 

        

        /*para cuando se crea el botón*/
        .deleteItem {
            float: right;
            
            &:hover{ background-color: tomato; }
        }
    }

    @media (max-width: 716px){//mobile
        input#to-do {    
            width: 100%;
        }
        
        .header {
            button.add {
                width: 100%;
            }
        }
    }
    
}








